<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Offer Details') do %>
        <%= link_to_with_icon 'edit', Spree.t(:offer_details), spree.edit_admin_offer_url(@offer) %>
      <% end %>
      <%= content_tag :li, :class => ('active' if current == 'Images') do %>
        <%= link_to_with_icon 'picture-o', Spree.t(:images), spree.admin_offer_images_url(@offer) %>
      <% end %>
    </ul>
  </nav>
<% end %>